.caixinha{ 
background-color:var(--cor-de-fundo);
}
h1{ 
    background-color: rgb(4, 13, 20);
    border: radius 20cm; 
    background-position: 10cm;
}
.caixinha{ 
    background-color: rgb(182, 0, 0);
    color: antiquewhite;
    text-decoration: none;
    padding: 20px;
    border-radius: 30px;
}
header{ background-color: var(--cor-do-titulo);}
h1{ 
    text-align: center;
    color: blueviolet;
    text-decoration: underline;
}